# Homework 1

## Tara Wilson
## Data 515
## April 2020

----------

### Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

-----------

### 1. Load & preview data

In [2]:
bicycle_data = pd.read_csv("../data/Fremont_Bridge_Bicycle_Counter.csv")

In [3]:
# view top 5 rows
bicycle_data.head()

,Date,Fremont Bridge Total,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,10/03/2012 12:00:00 AM,13.0,4.0,9.0
1,10/03/2012 01:00:00 AM,10.0,4.0,6.0
2,10/03/2012 02:00:00 AM,2.0,1.0,1.0
3,10/03/2012 03:00:00 AM,5.0,2.0,3.0
4,10/03/2012 04:00:00 AM,7.0,6.0,1.0

----------

### 2. Add columns

In [4]:
# i. add column for total bicycle count
bicycle_data["East and West Total"] = bicycle_data["Fremont Bridge East Sidewalk"] + bicycle_data["Fremont Bridge West Sidewalk"]

In [5]:
# ii. add column for the hour of the day
bicycle_data["Hour of Day"] = pd.to_datetime(bicycle_data["Date"]).dt.hour

In [6]:
# iii. add column for the year
bicycle_data["Year"] = pd.to_datetime(bicycle_data["Date"]).dt.year

In [7]:
# preview dataframe to ensure columns were added properly
bicycle_data.head()

,Date,Fremont Bridge Total,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,East and West Total,Hour of Day,Year
0,10/03/2012 12:00:00 AM,13.0,4.0,9.0,13.0,0,2012
1,10/03/2012 01:00:00 AM,10.0,4.0,6.0,10.0,1,2012
2,10/03/2012 02:00:00 AM,2.0,1.0,1.0,2.0,2,2012
3,10/03/2012 03:00:00 AM,5.0,2.0,3.0,5.0,3,2012
4,10/03/2012 04:00:00 AM,7.0,6.0,1.0,7.0,4,2012

--------

### 3. Create subset

----------

### 4. Plot data

---------

### 5. Find average